<h1>Upcoming Events</h1>

{{#if events}}
{{#each events}}
<h3>{{eventName}}</h3>
<h4>{{eventDate}}</h4>

{{/each}}
{{/if}}

<button><a href="/new-event">Create a New Event</a></button>

<button><a href="/mainpage">Go to Profile</a></button>