<h1>Upcoming Events</h1>



<table>
  <tr>
    <th>Event</th>
    <th>Date</th>
    <th>Creator</th>
  </tr>
  {{#each events}}
  <tr>
    <td>{{eventName}}</td>
    <td>{{eventDate}}</td>
    <td>{{author.username}}</td>
  </tr>
  {{/each}}
</table>



<button><a href="/new-event">Create a New Event</a></button>

<button><a href="/mainpage">Go to Profile</a></button>