<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OurGarden</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <style>
    @import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
  </style>
</head>

<body>

  <nav class="navbar">
    {{#if user}}<a class="navbar-items" href="/mainpage">Home</a>{{/if}}
    {{#unless user}}<a class="navbar-items" href="/auth/login">Login</a>{{/unless}}
    {{#unless user}}<a class="navbar-items" href="/auth/signup">Signup</a>{{/unless}}
    {{#if user}}<a class="navbar-items" href="/auth/logout">Logout</a>{{/if}}
  </nav>

  {{{body}}}

  <footer>
    Powered by Lluis Mañas & Alexis Perdikakis for Ironhack
  </footer>

  <script src="/javascripts/script.js"></script>
</body>

</html>