<h1>Welcome {{username}}</h1>



<button><a href="/activities/"></a>Go to Activities</a></button>

<button><a href="/market">Go to Market</a></button>

<button><a href="/event">Go to Events</a></button><br>
<button><a href="/activities/water">Go to Water Activities</a></button><br>
<button><a href="/activities/compost">Go to Compost Activities</a></button><br>
<button><a href="/activities/maintenance">Go to Activities</a></button><br>
<button><a href="/activities/trees-and-bushes">Go to Mantainance Activities</a></button><br>
<button><a href="/activities/cleaning">Go to Cleaning Activities</a></button><br>
<button><a href="/activities/general">Go to General Activities</a></button><br>