<div class="mainpage-container">
  <h1>Welcome {{username}}</h1>

  <div id="weather-widget"></div>
  <div class="main-buttons">

    <div class="dropdown">
      <button class="mainButton">Activities</button>

      <div class="dropdown-content">
        <a href="/activities/water">Go to Water Activities</a><br>
        <a href="/activities/compost">Go to Compost Activities</a><br>
        <a href="/activities/maintenance">Go to Mantainance Activities</a><br>
        <a href="/activities/trees-and-bushes">Go to Trees & Bushes Activities</a><br>
        <a href="/activities/cleaning">Go to Cleaning Activities</a><br>
        <a href="/activities/general">Go to General Activities</a><br>
      </div>
    </div>

    <button class="mainButton"><a href="/market">Go to Market</a></button>

    <button class="mainButton"><a href="/event">Go to Events</a></button><br>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

<script>
  const calcDate = (date) => {
    let target = new Date(date);
    switch (target.getDay()) {
      case 0:
        dayName = "Sunday"
        break;
      case 1:
        dayName = "Monday"
        break;
      case 2:
        dayName = "Tuesday"
        break;
      case 3:
        dayName = "Wednesday"
        break;
      case 4:
        dayName = "Thursday"
        break;
      case 5:
        dayName = "Friday"
        break;
      case 6:
        dayName = "Saturday"
        break;
    }
    return dayName
  }

  const widget = document.getElementById("weather-widget");
  const nextDaysWeather = document.createElement("div");
  const firstDayWidget = document.createElement("div");

  axios.get("/axioscall").then((data) => {
    console.log(data)
    data.data.list.forEach((dt, index) => {

      if (index === 0) {
        let todaysData = `<div class="daysData"> 
          <div class="city"> Today</div>
          <img class="icon" src="http://openweathermap.org/img/wn/${dt.weather[0].icon}@2x.png"> 
          <div class="currentTemp">${dt.main.temp} °C </div>
          </div>`
        firstDayWidget.innerHTML = todaysData;
        widget.innerHTML = firstDayWidget.innerHTML
      }
      else if (index % 8 === 0) {
        console.log(dt.main)
        let dayName = calcDate(dt.dt_txt.split(" ")[0])
        let temp = Math.round(dt.main.temp * 10) / 10

        let nextDaysData = `<br>
        <br>
        <br><div class="daysData">
          <div class ="dayName">${dayName}</div>
          <img class="icon" src="http://openweathermap.org/img/wn/${dt.weather[0].icon}@2x.png">
          <div class="temp">${Math.round(dt.main.temp * 10) / 10} °C</div >
          </div >`
        nextDaysWeather.innerHTML += nextDaysData

      }
    })
    widget.innerHTML += nextDaysWeather.innerHTML
  }).catch((err) => console.error(err));
</script>