<h1>Welcome {{username}}</h1>



<button><a href="/activities">Go to Activities</a></button>

<button><a href="/market">Go to Market</a></button>

<button><a href="/event">Go to Events</a></button>