<h1>Our Market Place</h1>

<h2>Request</h2>
{{#if products}}
{{#each products}}
{{#unless isOffer}}
<table>
  <tr>
    <th>Product </th>
    <th>Description</th>
  </tr>
  <tr>
    <td>{{productName}}</td>
    <td>{{description}}</td>
  </tr>

</table>


{{/unless}}
{{/each}}
{{/if}}
<button><a href="/new-request">Request New Product</a></button>

<h2>Offer</h2>
{{#if products}}
{{#each products}}
{{#if isOffer}}
<table>
  <tr>
    <th>Product </th>
    <th>Description</th>
  </tr>
  <tr>
    <td>{{productName}}</td>
    <td>{{description}}</td>
  </tr>

</table>
{{/if}}
{{/each}}
{{/if}}


<button><a href="/new-product">Offer New Product</a></button>




<button><a href="/mainpage">Go to Profile</a></button>