<div class="page-container">
  <h2>Create a New Activity</h2>

  <form action="/activities/{{activityType}}/new" method="POST" id="form-container">
    <label class="white" for="activityName">Activity Name</label>
    <input id="activityName" type="text" name="activityName" placeholder="What do you want to plan?">

    <br><br>

    <label class="white" for="description">Description</label>
    <input id="description" type="text" name="description" placeholder="Describe the activity in here">
    <br><br>

    {{!-- <label for="activityDate">Date</label>
  <input id="activityDate" type="date" name="activityDate" placeholder="When is the activity?"> 
  <br>
  --}}
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <br><br>

    <button class="mainButton actButton" type="submit">Create activity</button>



  </form>
  <button class="mainButton actButton"><a href="/activities/{{activityType}}">Go Back to {{activityType}}
      activities</a></button>

</div>